body {
    
    background-image: url('28687440-2085-4258-8488-3d509689765d.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    
  }
